<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="divyaganesh.parking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parking">
        <!--parentActivityName provides back button automatically-->
        <activity android:name=".ParkingDetails"
            android:parentActivityName=".ParkingList"
            android:label="Parking Details" />
        <activity android:name=".ParkingList" />
        <activity android:name=".AddParking"
            android:parentActivityName=".ParkingList"
            android:label="Add Parking"/>
        <activity android:name=".CreateAccount"
            android:label="Create Account"/>
        <!---noHistory will allow user not to navigate back to main activity after re-opening / navigating to parking list screen-->
        <activity android:name=".MainActivity"
            android:noHistory="true"
            android:label="Sign In/Up">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>